@font-face {
    font-family: 'pirates';
    src: url('fonts/pirates.ttf');
}


body {
    font-family: 'pirates', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    justify-content: center;
    height: 100vh;
    color: white;
    font-size: 20px;

    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.game-title {
    font-size: 64px;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 5px 8px 4px rgba(0, 0, 0, 0.9);
}

canvas {
    background-color: black;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.canvas-overlay {
    position: relative;
}

.sound-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 6px;
    right: 80px;
    cursor: pointer;
}

.fullscreen-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.move-container {
    position: absolute;
    bottom: 8px;
    padding: 0 0 0 30px;
    width: 210px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-btn {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.move-btn:active {
    scale: 1.1;
    filter: sepia();
}

.attack-btn {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 2px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.attack-btn:active {
    scale: 1.1;
    filter: sepia();
}

.action-container {
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 300px;
    padding: 0 30px 0 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 850px;
    height: 600px;
    background-image: url(img/9_intro_outro_screens/start/ship-background.gif);
    background-position: center;
    background-size: cover;
}

.startscreen-title {
    font-size: 40px;
    font-weight: 700;
    /* text-shadow: 2px 2px 5px white; */
    margin: 0 0 250px 0;
    animation: shimmer 2s infinite alternate, pulse 2s infinite ease-in-out;
}

.start-game-btn {
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 50%;
    background-image: url(img/9_intro_outro_screens/start/play.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: white;
    animation: glowingShadow 3s infinite alternate, pulse 2s infinite ease-in-out;
}

/* Schimmer-Effekt */
@keyframes shimmer {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500;
    }
    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500;
    }
}

@keyframes glowingShadow {
    0% {
        box-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500;
    }
    50% {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff4500;
    }
    100% {
        box-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500;
    }
}

/* Pulsierender Zoom */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



.d-none {
    display: none;
}