@font-face {
    font-family: 'pirates';
    src: url('fonts/pirates.ttf');
}


body {
    font-family: 'pirates', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    justify-content: center;
    height: 100vh;
    color: white;
    font-size: 20px;

    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.game-title {
    font-size: 64px;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 5px 8px 4px rgba(0, 0, 0, 0.9);
    text-align: center;
}

canvas {
    background-color: black;
    display: block;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.canvas-overlay {
    position: relative;
}

.sound-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 6px;
    right: 80px;
    cursor: pointer;
}

.fullscreen-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.move-container {
    position: absolute;
    bottom: 8px;
    padding: 0 0 0 30px;
    width: 210px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-btn {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.move-btn:active {
    scale: 1.1;
    filter: sepia();
}

.attack-btn {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 2px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.attack-btn:active {
    scale: 1.1;
    filter: sepia();
}

.action-container {
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 300px;
    padding: 0 30px 0 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 850px;
    height: 600px;
    background-image: url(img/9_intro_outro_screens/start/ship-background.gif);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.startscreen-title {
    color: rgba(16, 152, 247, 0.8);
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 150px 0;
    animation: shimmer 2s infinite alternate, pulse 2s infinite ease-in-out;
}

.start-game-btn {
    color: black;
    width: 250px;
    height: 80px;
    font-size: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 100ms;
    cursor: pointer;
    background-color: rgba(16, 152, 247, 0.8);
    animation: glowingShadow 3s infinite alternate, pulse 2s infinite ease-in-out;
}

.start-game-btn:hover {
    scale: 1.2;
}

.controls-info-btn {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    bottom: 50px;
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    animation: pulse 2s infinite ease-in-out;
}

.controls-info-btn:hover {
    scale: 1.2;
}

.controls-info-container {
    position: absolute;
    flex-direction: column;
    width: 600px;
    height: 550px;
    background-color: rgba(74, 129, 202, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(600px);
    transition: all ease-in-out 100ms;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff
}

.controls-box {
    width: 500px;
    height: 450px;
    flex-direction: column;
    border: solid 1px;
    position: relative;
}

.arrows-box {
    position: absolute;
    display: flex;
    right: 80px;
    justify-content: center;
    border: solid 1px;
    width: 200px;
    height: 200px;
    top: 100px;
    right: 0;
}

.keyboard-icon {
    height: 50px;
    width: 50px;
}

.up-arrow {
    position: absolute;
    top: 30px;
}

.left-arrow {
    position: absolute;
    top: 90px;
    right: 135px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    background-color: white;
    border-radius: 10px;
    animation: pulse 2s infinite ease-in-out;
}

.right-arrow {
    position: absolute;
    top: 90px;
    right: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    background-color: white;
    border-radius: 10px;
    animation: pulse 2s infinite ease-in-out;
}

.down-arrow {
    position: absolute;
    top: 90px;
}

.info-left {
    position: absolute;
    left: 5px;
    bottom: 20px;
    animation: pulse 2s infinite ease-in-out;
}

.info-right {
    position: absolute;
    right: 5px;
    bottom: 20px;
    animation: pulse 2s infinite ease-in-out;
}

.keyboard-icon-space {
    height: 70px;
    width: 150px;
}

.action-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px;
    width: 250px;
    height: 200px;
    top: 100px;
    left: 0;
}

.action-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-effect{
    animation: pulse 2s infinite ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    background-color: white;
    border-radius: 10px;
}

.show-hide-box {
    transform: translateY(0);
}

.controls-info-close-btn {
    position: absolute;
    bottom: 20px;
    background-color: #d84646;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    animation: pulse 2s infinite ease-in-out;
}

.controls-info-close-btn:hover {
    scale: 1.1;
}


/* Schimmer-Effekt */
@keyframes shimmer {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500;
    }

    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500;
    }

    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500;
    }
}

@keyframes glowingShadow {
    0% {
        box-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500;
    }

    50% {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff4500;
    }

    100% {
        box-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff4500;
    }
}

/* Pulsierender Zoom */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.d-none {
    display: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}